[Unit]
Description=Definitive
After=syslog.target
After=network.target

[Service]
WorkingDirectory=/home/deployment/definitive-web
ExecStart=/home/deployment/definitive-web/start.sh
KillMode=control-group

[Install]
WantedBy=multi-user.target