 <div id="the-image" hx-swap-oob="true">
    <a href="/static/{{subdir}}/{{basename}}-{{id}}.png" download="definitive-{{id}}">
        <figure style="margin-bottom: 0;" >
        <img src="/static/{{subdir}}/{{basename}}-{{id}}.png" style="border:1px solid {{img_border_color}}; margin-top: {{img_top_margin}}px" alt="Generated image with id {{id}}"/>
        </figure>
    </a>
    <h3 style="margin-top: 5px;">Click on the image to download<h3>
</div>